.container{
    width: 350px;
    height: 550px;
    margin: 100px auto;
    background: #C21438;
    border-radius: 15px;
    padding: 30px;
}

.button_container{
    display: flex;
    height: 450px
}

